<style>
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .divs {
        width: 300px;
        background-color: #68a35dda;
        margin: 10px;
    }
</style>
<div class="container">
    {{#each data.payload}}
        <div class="divs">
            <h6>Nombre del producto: {{title}}</h6>
            <p>ID del producto: {{id}}</p>
            <p>Precio del producto: {{price}}</p>
            <p>Descripción del producto: {{description}}</p>
        </div>
    {{/each}}
</div>