<div>
    {{#each data}}
        <div style="width: 300px; background-color: #68a35dda;">
            <h6>Nombre del producto: {{title}}</h6>
            <p>ID del producto: {{id}}</p>
            <p>Precio del producto: {{price}}</p>
            <p>Descripción del producto: {{description}}</p>
        </div>
    {{/each}}
</div>